@import (reference) "_globals.less";
@import (reference) "../../packages/lesshat/lesshat.less";

// Position / Player Lists
// ------------------------------------

.players {

    &.list {
        &.qb .tab  { background-color: @qb; }
        &.rb .tab  { background-color: @rb; }
        &.wr .tab  { background-color: @wr; }
        &.te .tab  { background-color: @te; }
        &.def .tab { background-color: @def; }
        &.k .tab   { background-color: @k; }
    
        a.draft {
            position: absolute;
            right: 1em;
            top: .625em;
        }

        .list .item {
            padding: 0;
        }
    }

}