@import (reference) "_globals.less";
@import (reference) "../../packages/lesshat/lesshat.less";

// Position / Player Lists
// ------------------------------------

.list {
    
    .tab {
        float: left;
        width: 16px;
        height: 48px;
    }

    .item {
        
        cursor: pointer;

        .content {
            padding: 0.625em 1em 0.5em;
            .hlp.font.size.minus1;

            span {
                .hlp.font.size.minus2;
                color: @gray-light; 
            }
        }

        .info {

            cursor: default;

            &.hide {
                display: none;
            }
            .column {
                line-height: 3.5em;
                padding: 0 36px;
                background: @gray-whisper;
                .box-shadow(0 8px 8px -8px rgba(20,20,20,0.5) inset);

                &:last-child {
                    text-align: right;
                }
            }
        }
    }

}

.players {

    &.list {
        &.qb .tab  { background-color: @qb; }
        &.rb .tab  { background-color: @rb; }
        &.wr .tab  { background-color: @wr; }
        &.te .tab  { background-color: @te; }
        &.def .tab { background-color: @def; }
        &.k .tab   { background-color: @k; }

        .list .item {
            padding: 0;
        }
    }

}