<head>
  <title>2014 FBGM FANTASY FOOTBALL DRAFT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
</body>

<template name="_global">
    
    {{#unless isBigBoardTemplate}}
    <div id="fixed" class="page">
        {{>navigation}}
    </div>
    {{/unless}}

    <div class="main container{{#if isPlayerTemplate}} sub menu{{/if}}{{#if isBigBoardTemplate}} big-board{{/if}}">
        {{>yield}}
    </div>

</template>