<template name="app">
    
    <section class="players list {{position}}">
        
        <div class="ui divided list">
            {{#each nflplayers}}

                <div class="item">
                    <div class="tab"></div>
                    <div class="content">
                        <div class="header">{{ displayName }}</div>
                        <span>
                            {{ team }} &bull; {{position}} &bull; Bye: {{ bye }}
                        </span>
                    </div>
                    <div class="info hide ui two column grid">    
                        <div class="row">
                            <div class="column">
                                <strong>Proj. Pts</strong> 
                                <span class="hlp font color light gray">|</span> 
                                {{ fantasyPoints }}
                            </div>
                            <div class="column">
                                <a href="#" class="ui tiny green draft button">
                                    DRAFT 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            {{/each}}
        </div>

    </section>
    
</template>