<template name="draftboard">

    <div id="draftboard">
        <div class="ui fixed transparent inverted main menu">
            <div class="content">

                <div class="title item">
                    Rd {{ draftboard.round }}
                    &nbsp;&nbsp;
                    Pick {{ draftboard.pick }}
                </div>

                <div class="right menu">
                    <div class="title item">
                        Time {{ draftboard.clock }}
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>