<template name="navigation">
    
    <div id="summary">
        <div class="ui transparent borderless inverted main menu">
            <div class="content">

                <div class="title item" style="display: block; width: 100%;">Rd {{ summary.round }} &bull; Pick {{ summary.pick }}</div>

                <div class="right menu">
                    <div class="title item">
                        <a href="#" id="reset" class="ui icon tiny red button"><i class="refresh icon"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="ui transparent borderless hlp background dark blue inverted main menu">
            <div class="content">

                <div class="title item">
                    <i class="time basic icon"></i>
                    {{ summary.team.name }}
                </div>

            </div>
        </div>
    </div>

    <div id="navigation">
        <div class="ui inverted blue fluid three item menu">
            <a href="/" data-mainview="players" class="{{#if isPlayerTemplate }}active {{/if}}item">
                <i class="user icon"></i>PLAYERS
            </a>
            <a href="/draftboard" data-mainview="results" class="item {{ subActive '/draftboard' }}">
                <i class="table icon"></i>BOARD
            </a>
            <a href="/teams" data-mainview="teams" class="item {{ subActive '/teams' }}">
                <i class="flag icon"></i>TEAMS
            </a>
        </div>
        {{#if isPlayerTemplate }}
        <div class="ui transparent fluid six item sub menu">
            <a class="item {{ subActive '/qb' }}" href="/qb">QB</a>
            <a class="item {{ subActive '/rb' }}" href="/rb">RB</a>
            <a class="item {{ subActive '/wr' }}" href="/wr">WR</a>
            <a class="item {{ subActive '/te' }}" href="/te">TE</a>
            <a class="item {{ subActive '/k' }}" href="/k">K</a>
            <a class="item {{ subActive '/def' }}" href="/def">DEF</a>
        </div>
        {{/if}}
    </div>

</template>